{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "no-console": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "jsx-a11y/no-static-element-interactions": 0
  },
  "globals": {
    "window": true
  }
}
